EXPO_PUBLIC_API_BASE_URL=http://localhost:8080/api
# Android emulator example:
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8080/api
# Cloud Run example:
# EXPO_PUBLIC_API_BASE_URL=https://api-service-fdqmuj3rua-an.a.run.app/api

EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=
